@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de gestion de Profesores</h1>
    <p>Contactenos <a href="https://www.argentina.gob.ar/educacion/ministerios-de-educacion-provinciales">Ministerio de educacion PBA</a>.</p>
</div>
